@use "../foundation/index" as *;
:root {
  @include fluid-font-sizes;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  @include body-style;
  margin: 0;
  padding: 0;
  color: $brand-text;
  overflow-x: clip;
}

/* Remove tap highlight color on mobile */
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: $content-width;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: auto;
}

section {
  padding: 4rem 0;
  @include container-query(tablets) {
    padding: 2rem 0;
  }
}
