---

---

<section id="hero">
  <div class="container">
    <div class="flex-group-col">
      <h1>
        Empowering enterprise growth with intelligent <span
          >digital automation</span
        >
      </h1>
      <p>
        Streamline your operations by automating repetitive tasks such as data
        entry, document review, exception handling and reporting.
      </p>
      <div class="flex-group-row">
        <a href="/contact " class="btn-primary">Book a Demo</a>
        <a href="/services" class="btn-secondary">Learn More</a>
      </div>
    </div>
    <img
      loading="eager"
      class="hero-image"
      src="/src/assets/svgs/hero.svg"
      width="100%"
      height="auto"
    />
  </div>
</section>

<style lang="scss">
  @use "@styles" as *;

  #hero {
    container-type: inline-size;
    background: $gradient-bg;
    .container {
      max-width: 1600px;
      flex-direction: column;
    }
    .flex-group-col {
      padding: 0 2rem 3rem;
      h1 {
        font-size: var(--font-size-xxxl);
        line-height: 1.4;
        font-weight: $black;
        color: $brand-primary;
        span {
          color: $brand-action;
        }
      }
      p {
        font-size: var(--font-size-md);
      }
      .flex-group-row {
        display: flex;
        gap: 1.25rem;
        width: 100%;
      }
    }
    .hero-image {
      position: absolute;
      width: clamp(800px, 70vw, 1200px);
      height: clamp(900px, 60vh, 1200px);
      pointer-events: none;
      user-select: none;
      transform: translate(65%, -20%);
    }
    @include container-query(tablets) {
      .container {
        flex-direction: row;
      }
      align-items: center;
      padding: 6rem 4rem;

      .flex-group-col {
        flex: 0 0 50%;
        min-width: 760px;
      }
      .hero-image {
      }
    }

    @include container-query(large-laptop) {
      .hero-image {
      }
    }
  }
</style>
