---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = CollectionEntry<"services">["data"];

const { heading, image, order, description } = Astro.props;
---

<article class={`service-item${order % 2 === 0 ? " flipped" : ""}`}>
  <div class="flex-group-col">
    <h3>{heading}</h3>
    <p>{description}</p>
  </div>
  <Image
    src={image}
    class="service-image"
    alt=""
    width={640}
    height={360}
    loading="lazy"
  />
</article>

<style lang="scss">
  .service-item {
    display: flex;
    padding: 2rem 4rem;
    gap: 4rem;

    &.flipped {
      flex-direction: row-reverse;
    }
    .flex-group-col {
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;
    }
  }
</style>
