---
import { getCollection, render } from "astro:content";
import ServiceItem from "./ServiceItem.astro";


const services = (await getCollection("services"))
  .sort(
    (a, b) =>
      (a.data.order ?? Infinity) - (b.data.order ?? Infinity) ||
      a.data.heading.localeCompare(b.data.heading)
  );

const rendered = await Promise.all(
  services.map(async (service) => {
    const { Content } = await render(service);
    return { data: service.data, Content };
  })
);
---

<section id="services" aria-labelledby="services-heading">
  <div class="container">
    <h2 id="services-heading">End-to-End services</h2>
    <p>
      From intelligent document processing to predictive analytics, our platform
      streamlines back-office tasks and turns real-time data into bottom-line
      impact.
    </p>

    <ul class="services-list" role="list">
      {
        rendered.map(({ data, Content }) => (
          <li role="listitem">
            <ServiceItem {...data}>
              <Content />
            </ServiceItem>
          </li>
        ))
      }
    </ul>
  </div>
</section>





<style lang="scss">
  @use "@styles" as *;

  #services {
    container-type: inline-size;
    background: $light;
    .services-list {
      display: grid;
      list-style-type: none;
      padding: 0;
      gap: 2rem;
    }
  }
</style>
