---
const { title, ...rest } = Astro.props;
---

<div class="tab-item" {...rest}>
  <slot />
</div>

<style lang="scss">
  @use "@styles" as *;
  .tab-item {
    @include flex-group-col;
    display: none;
    align-items: flex-start;
  }
  .tab-item.active {
    display: flex;
  }
</style>
