---
import { getCollection, render } from "astro:content";
import ServiceItem from "./ServiceItem.astro";

const services = (await getCollection("services")).sort(
  (a, b) =>
    (a.data.order ?? Infinity) - (b.data.order ?? Infinity) ||
    a.data.heading.localeCompare(b.data.heading)
);
---

<section id="services" aria-labelledby="services-heading">
  <div class="container">
    <h2 id="services-heading">End-to-End services</h2>
    <p>
      From intelligent document processing to predictive analytics, our platform
      streamlines back-office tasks and turns real-time data into bottom-line
      impact.
    </p>

    <ul class="services-list" role="list">
      {
        services.map((service) => (
          <li role="listitem">
            <ServiceItem {...service.data} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
<style lang="scss">
  @use "@styles" as *;

  #services {
    container-type: inline-size;
    background: $gradient-bg;
    .container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 4rem 1rem;

      h2 {
        line-height: 1.4;
        font-weight: $bold;
        color: $brand-primary;
      }

      .services-list {
        display: grid;
        list-style-type: none;
        padding: 0;
      }
    }
  }
</style>
