<section id="solutions" aria-labelledby="solutions-heading">
  <div class="container">
    <h2 id="solutions-heading">Built for accuracy. Designed for efficiency.</h2>
    <p>
      Our AI solutions integrate seamlessly with your existing systems and
      processes, freeing your team to focus on exception resolution and
      strategic priorities.
    </p>
    <ul class="service-cards" role="list">
      <li class="card" role="listitem">
        <h3>Proven Expertise</h3>
        <p>
          Deploy our cloud-based or on premise AI solutions in days, not months
          by using our pre-configured solutions to deliver rapid solutions at
          competitive costs.
        </p>
        <img
          loading="lazy"
          src="/src/assets/png/invoice-v3.png"
          alt=""
          width="100%"
          height="100%"
        />
      </li>
      <li class="card" role="listitem">
        <h3>Scalable & Flexible</h3>
        <p>
          We deploy only what you need and when you need it, ensuring that you
          get a return on your investment in each step of your automation
          journey.
        </p>
        <img
          loading="lazy"
          src="/src/assets/png/arrow-v3.png"
          alt=""
          width="100%"
          height="100%"
        />
      </li>
      <li class="card" role="listitem">
        <h3>Domain Knowledge</h3>
        <p>
          We blend domain knowledge with cutting-edge AI-Solutions to solve
          critical business challenges.
        </p>
        <img
          loading="lazy"
          src="/src/assets/png/book-v3.png"
          alt=""
          width="100%"
          height="100%"
        />
      </li>
      <li class="card" role="listitem">
        <h3>Fast Processing</h3>
        <p>
          Automated data capture and workflows cut processing time, helping your
          teams close the books faster and improve cash-flow visibility.
        </p>
        <img
          loading="lazy"
          src="/src/assets/png/clock-v3.png"
          alt=""
          width="100%"
          height="100%"
        />
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@styles" as *;

  #services {
    container-type: inline-size;
    background: $gradient-bg;
    .container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 4rem 1rem;
      h2 {
        line-height: 1.4;
        font-weight: $bold;
        color: $brand-primary;
      }
      .service-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        list-style-type: none;
        padding: 0;

        .card {
          background-color: $light;
          border-radius: 8px;
          padding: 1.5rem;
          h3 {
            color: $brand-primary;
          }
          img {
            margin-top: 1rem;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
</style>
